.cart-display {
  position: absolute;
  top: 50px;
  right: 0.5rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
  background-color: beige;
  border-radius: 1rem;
}

.divider-summary {
  padding-bottom: 1rem;
}

.order-summary {
  padding-bottom: 1rem;
}

