/* .css-nw5nzo {
    width: max-content !important;
} */
/* body {
        width: 100vmax !important;
} */

.product-details {
    width: 30%;
    height: 100vh;
}

.add-item-container {
    background-color: #F0F0F1;
}

.form-bg {
    background-color: white;
    padding: 1rem;
    border: solid .5px #828181;
}